.hamburguer-button{

    cursor: pointer;
    margin: auto 0;

    span{
        display: block;
        width: 2.5em;
        height: 0.5vh;
        position: relative;
        background-color: $white;
        border-radius: 0.2em;
        margin-top: 0.5em;
    }
}

.hamburguer-menu{
    position: fixed;
    width: 35em;
    top: -85vh;
    background: $black-brightest;
    color: $white;
    border-bottom: 0.3em solid $color-primary;
    transition: 0.3s top;

    &.--active{
        top: 17vh;
    }

    .hamburguer-menu__element-searchbar{

        margin-top: 0.5em;
        padding: 0.5em;
        padding-left: 2em;
        
        form svg path{
            fill: $white
        }

        form svg{
            width: 1em;
            cursor:pointer;
        }

        input{

            background-color: $black-brightest;
            border: none;
            color: $white;
            padding-left: 1em;
        }
    }

    .hamburguer-menu__element-submenu{
        background-color: $black-brighter;    
        
        form svg{
            width: 1em;
            cursor: pointer;
        }

        form svg path{
            fill: $white;
        }
    }

    .hamburguer-menu__element-submenu-button{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1em solid $black-brightest;

        button{
            width: 100%;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $black-brightest;
            border: none;
            padding: 0.5em;
            padding-left: 2em;
            cursor: pointer;
        }

        span{
            color: $color-primary;
            font-weight: 3em;
            font-family: $font-stack;
            margin: 0.5em 2em 0 0;
        }
    }

    .hamburguer-menu__element-social-networks{
        
        ul.inline{
            display: flex;
            align-items: center;
            margin: 2em;
            font-family: $font-stack;
            font-size: 1em;
        }

        ul.inline li{
            margin-right: 1em;
        }

        ul.inline svg{
            width: 2em;
        }

        ul.inline svg path{
            fill: $white;
        }


    }

    .hamburguer-menu__element-contact-info{
        display: flex;
        flex-direction: row;
        font-family: $font-stack;
        margin: 0 0 2em 1em;

        .hamburguer-menu__element-contact-info-adds{
            cursor: pointer;                     
            border: 0;
            border-right: 1px solid $color-primary-darker;    
            background: none;
            color: $white;
        }

        .hamburguer-menu__element-contact-info-contact{
            cursor: pointer;
            border: 0;
            border-left: 1px solid $white;
            background: none;
            color: $white;
            
        }
    }
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: $black;
    opacity: 0;
    transition: 0.3s opacity;

    &.--active{
        opacity: 0.5;
    }
}